
body
{
  text-align: center;
  background: url('../images/hangman.jpeg');
}

.container
{
  border: 10px solid #aaaaaa;
  min-height: 500px;
  min-width: 500px;
  background-color: #bbbbbb;
}

h1
{
  color: #444444;
}
